.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.hero_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;

}

.leftSection {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  min-height: 200px;
  /* background-color: #0070f3; */
}

.leftSection div {
  display: flex;
  height: 45px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid var(--gray_primary);
}

.leftSection input {
  flex: 1;
  border: none;
  outline-style: none;
  padding-left: 1rem;
}

.leftSection button {
  background-color: var(--primary);
  border: none;
  color: white;
  cursor: pointer;
}

.rightSection {
  width: 60%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.navSessionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navButton {
  background-color: var(--gray_primary);
  border: none;
  color: var(--primary);
  border-radius: 10px;
  padding: 5px;
  height: 40px;
  width: 80px;
  margin-left: 10px;
  cursor: pointer;
}


.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}


@media (max-width: 800px) {

  .container {
    padding: 0;
  }

  .nav {
    padding: 1rem;
  }

  .hero_container {
    width: 100%;
    flex-direction: column;
    align-items: center;

    padding: 0;
  }

  .leftSection {
    margin-bottom: 6rem;
    width: 100vw;
    padding: 0;
    max-width: 90%;
  }

  .leftSection div {
    width: 100%;
  }

  .rightSection {
    width: 100%;
    align-items: center;
    padding: 0;
  }



}