.Container {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;

}


.formContainer {
    /* border: 1px solid var(--gray); */
    box-shadow: 6px 10px 29px -5px rgba(157, 157, 157, 0.27);
    -webkit-box-shadow: 6px 10px 29px -5px rgba(157, 157, 157, 0.27);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
}

.formContainer h1 {
    text-align: center;
    margin-bottom: 3rem;
}

.signupButton {
    text-decoration: underline;
    border: none;
    cursor: pointer;
    margin-bottom: 2rem;
    text-align: center;
    align-self: center;
    color: gray;
    background-color: transparent;
}

@media (max-width: 600px) {
    .Container {
        align-items: center;
        justify-content: center;

    }

    .formContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}